@import '../../vars.css';

/* Header Styling */

.page-header {
    position: sticky;
    background-color: var(--color_primary);
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0 !important;
    height: var(--header-height);
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between !important;
}
.page-header-left, .page-header-center, .page-header-right {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 0px;
}
.page-header-left {
    justify-content: flex-start;
    height: var(--header-height) !important;
}
.page-header-center {
    height: 100%;
    justify-content: center;
}
.page-header-right {
    justify-content: flex-end;
}
.section-expand {
    height: auto;
    flex: 1 1 auto;
}
.section-collapse {
    display: none;
    width: 0 !important;
    flex: 1 0 auto;
}
.section-hidden {
    display: none !important;
}
@media only screen and (max-width: 480px) {
    .page-header {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .page-header-right, .page-header-left, .page-header-center {
        height: auto;
        padding: 0px 0px;
        display: flex;
    }
}
@media only screen and (max-width: 767px) {
    .page-header {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: auto !important;
        width: 100% !important;
    }
    .page-header-right, .page-header-left, .page-header-center {
        width: 100%;
    }
    .page-header-left {
        width: 100% !important;
        height: var(--header-height) !important;
        justify-content: space-between;
        box-shadow: var(--bshadow-xl);
    }
    .page-header-center {
        flex: 1 1 auto;
        justify-content: flex-end;
    }
    .page-header-right {
        height: min-content;
        justify-content: space-between;
        width: 100% !important;
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (min-width: 768px) {
    .page-header {
        width: 100%;
        height: var(--header-height) !important;
        width: var(--sidebar-width);
        display: flex;
        flex-direction: row;
        align-items: center !important;
        justify-content: space-between !important;
        box-shadow: var(--bshadow-xl);
    }
    .page-header-right, .page-header-left, .page-header-center {
        height: 100%;
        padding: 0px 0px;
        display: flex;
    }
}

/*
@media only screen and (max-width: 480px) {
    .page-header {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .page-header-right, .page-header-left, .page-header-center {
        height: auto;
        padding: 0px 0px;
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .page-header {
        height: auto !important;
        justify-content: center;
        align-items: center;
    }
    .page-header-right, .page-header-left, .page-header-center {
        width: auto;
        padding: 0px 0px;
    }
    .page-header-center {
        flex: 1 1 auto;
        justify-content: flex-end;
    }
    .page-header-right {
        width: 100%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
*/

.page-header-left .page-header-dropdown-toggle {
    padding: 0 4px;
}

.page-header-left .nav-toggle-button {
    color: #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}
@media (prefers-reduced-motion: reduce) {
    .page-header-left .nav-toggle-button {
        transition: none;
    }
}
.page-header-left .nav-toggle-button svg {
    width: 100%;
    height: 100%;
    padding: 2px;
}
.page-header-left .nav-toggle-button:hover, .page-header-left .nav-toggle-button:focus {
    color: #d8d8d8;
    color: #06072d;
}
.page-header-left .nav-toggle-button:hover {
    transform: scale(1.2);
}
.page-header-logo-container {
    display: flex;
    justify-content: flex-end !important;
}
.page-header-title-container {
    display: flex;
    justify-content: left !important;
}
.page-header-title {
    font-weight: 400;
    font-size: 2em;
    padding: 0 1.5rem;
    gap: 1.125rem;
    display: flex;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.page-header-title h1 {
    margin: 0;
    padding: 0 !important;
}
.page-header-icon-container {
    padding: 0 10px;
    border-right: 1px solid grey;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header-icon {
    cursor: pointer;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-width: calc(var(--header-height) - 0.1 * var(--header-height));
    max-height: calc(var(--header-height) - 0.1 * var(--header-height));
    position: relative;
}
.page-header-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}